<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="/">Blog do Coelho</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to 'All', posts_path, class: 'dropdown-item' %>
          <% Category.all.each do |category| %>
            <%= link_to category.title, posts_path(category: category.id), class: 'dropdown-item' %>
          <% end %>
        </div>
      </li>
      <% if user_signed_in? %>
        <li>
          <a class="nav-link" href="<%= new_post_path %>">
            <i class="fas fa-plus"></i>
            New post
          </a>
        </li>
        <% if current_user.admin? %>
          <li>
            <a class="nav-link" href="<%= categories_path %>">
              <i class="fas fa-plus"></i>
                Categories
            </a>
          </li>
        <% end %>
      <% end %>  
    </ul>
    <div class="my-2 my-lg-0">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if !user_signed_in? %>
              Login
            <% else %>
              Welcome, <%= current_user.name %>
            <% end %>
          </a>
          <% if !user_signed_in? %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to '<i class="fas fa-sign-in-alt"></i> Sign in'.html_safe, new_user_session_path, class: 'dropdown-item' %>
              <div class="dropdown-divider"></div>
              <%= link_to '<i class="fas fa-user-plus"></i> Sign up'.html_safe, new_user_registration_path, class: 'dropdown-item' %>
            </div>
          <% else %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to '<i class="fas fa-pen"></i> Edit account'.html_safe, edit_user_registration_path, class: 'dropdown-item' %>
              <%= link_to '<i class="fas fa-history"></i> My historic'.html_safe, historic_index_path, class: 'dropdown-item' %>
              <div class="dropdown-divider"></div>
              <%= link_to '<i class="fas fa-power-off"></i> Sign out'.html_safe, destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
            </div>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>