<%= form_for(post) do |f| %>
  
  <%= render 'shared/error_messages' %>

  <% @categories = Category.all.order(:title) %>

  <% if !@post.image.blank? %>
    <div class="post-image">
      <%= image_tag @post.image.url(:large), style: 'object-fit: fill' %>
    </div>
  <% end %>

  <br/>

  <div class="form-group">
    <%= f.text_field :title, class: 'form-control', placeholder: :title, required: true %>
  </div>

  <div class="form-group">
    <%= f.select :category_id, @categories.map { |category| [category.title, category.id]}, {include_blank: 'Select the category'}, { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.text_field :description, class: 'form-control', placeholder: :description, required: true %>
  </div>

  <div class="form-group">
    <%= f.text_area :body, class: 'form-control', rows: 10 %>
  </div>

  <br/>

  <div class="form-group">
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
      <i class="fas fa-check"></i> Submit
    <% end %>
    <%= link_to '<i class="fas fa-arrow-left"></i> Back'.html_safe, posts_path, class: 'btn btn-primary' %>
  </div>
<% end %>
