<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% @categories = Category.all.order(:title) %>

  <div class="form-group">
    <%= f.text_field :title, class: 'form-control', placeholder: :title %>
  </div>

  <div class="form-group">
    <select multiple class="form-control" id="category_id" name="category_ids[]">
      <% @categories.each do |category| %>
        <option value="<%= category.id %>"><%= category.title %></option>
      <% end %>
    </select>
  </div>

  <div class="form-group">
    <%= f.text_field :description, class: 'form-control', placeholder: :description %>
  </div>

  <div class="form-group">
    <%= f.text_area :body, class: 'form-control', rows: 10 %>
  </div>

  <br/>

  <div class="form-group">
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
      <i class="fas fa-check"></i> Submit
    <% end %>
    <%= link_to '<i class="fas fa-arrow-left"></i> Back'.html_safe, posts_path, class: 'btn btn-primary' %>
  </div>
<% end %>
