<% @post = Posts::PostPresenter.new(post) %>
<% @user = Users::UserPresenter.new(@post.user) %>

<div class="card mb-4" style="max-width: 70%;">
  <a href="/posts/<%= @post.id %>">
    <% if !@post.image.blank? %>
      <img src="<%= @post.image.url(:large) %>" 
          class="card-img-top img-fluid"
          alt="<%= @post.title %>"
      >
    <% end %>
  </a>
  <div class="card-body">
    <% if @post.category.present? %>
      <span class="badge badge-info float-right">
        <%= @post.category.title %>
      </span>
      <br />
    <% end %>  
    <a href="/posts/<%= @post.id %>">
      <h2 class="card-title">
        <%= @post.title %>
      </h2>
    </a>  
    <p class="card-text">
      <%= @post.description %>
    </p>
    <p class="card-text">
      <small class="text-muted">
        <%= @user.full_name %>
        on <%= @post.creation_date %>
      </small>
    </p>
  </div>
</div>