<br/>
<span class="badge badge-info float-right">
  <%= @post.category.title %>
</span>

<h1><%= @post.title %></h1>

<h2 class="aligned-center">
  <%= @post.description %>
</h2>

<p>
  <div class="post-image">
    <%= image_tag @post.image.url(:large), style: 'object-fit: fill' %>
  </div>
</p>

<br/>
<hr />
<br/>

<div class="post-body">
  <%= simple_format(@post.body) %>
</div>

<br/>

<h2 class="aligned-center">
  Comments
</h2>

<%= render @post.comments %>

<br/><br/>

<%= render 'comments/form' %>

<br />

<div class="actions">
  <%= link_to '<i class="fas fa-pen"></i> Edit'.html_safe, edit_post_path(@post), class: 'btn btn-primary' %>
  <%= link_to '<i class="fas fa-arrow-left"></i> Back'.html_safe, posts_path, class: 'btn btn-primary' %>
</div>

<br/>