<h1><%= @post.title %></h1>

<h2 class="aligned-center">
  <%= @post.description %>
</h2>

<span class="badge badge-info">
  <%= @post.category.title %>
</span>

<p>
  <div class="post-image">
    <%= image_tag @post.image.url(:large), style: 'object-fit: fill' %>
  </div>
</p>

<p>
  <%= simple_format(@post.body) %>
</p>

<br />

<% @comments.each do |comment| %>
  <div>
    <%= comment.body %>
  </div>
<% end %>

<div class="actions">
  <%= link_to '<i class="fas fa-pen"></i> Edit'.html_safe, edit_post_path(@post), class: 'btn btn-primary' %>
  <%= link_to '<i class="fas fa-arrow-left"></i> Back'.html_safe, posts_path, class: 'btn btn-primary' %>
</div>
