<%= form_for(category) do |f| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br />

  <div class="form-group">
    <%= f.text_field :title, placeholder: :title, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
      <i class="fas fa-check"></i> Submit
    <% end %>
    <%= link_to '<i class="fas fa-arrow-left"></i> Back'.html_safe, categories_path, class: 'btn btn-primary' %>
  </div>
  </div>
<% end %>
